.texto {
    display: flex;
    text-align: left;
    margin: 100px 150px;
}

.texto .titulo {
    width: 50%;
    color: var(--preto);
}

.texto .titulo h1 {
    font-family: var(--titulo), sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 60px;
}

.texto .subtitulo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto .subtitulo p {
    font-family: var(--corpo_texto), monospace;
    font-size: 23px;
}

.inicio figure {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.inicio figure img {
    width: 80%;

}

.criaca {
    width: 100%;
    display: flex;
}

.criaca article {
    width: 50%;
    display: flex;
    align-items: center;
}

.criaca article p {
    font-family: var(--corpo_texto), monospace;
    color: var(--preto);
    font-size: 25px;
    text-align: right;
    line-height: 1.8em;
    margin-left: 100px;
}

.criaca figure {
    width: 50%;
}

.criaca figure img {
    width: 100%;
}

.adolescente {
    width: 100%;
    display: flex;
}

.adolescente figure {
    width: 50%;
    background-color: var(--preto);
}

.adolescente figure img {
    width: 100%;
    background-color: var(--preto);
}

.adolescente article {
    width: 50%;
    background: var(--preto);
    display: flex;
    align-items: center;
}

.adolescente article p {
    font-family: var(--corpo_texto), monospace;
    color: var(--cor_fundo);
    font-size: 25px;
    background: none;
    text-align: left;
    line-height: 1.8em;
    margin-right: 100px;
    margin-left: 50px;
}

.mudanca {
    width: 100%;
    display: flex;
}

.mudanca article {
    width: 50%;
    display: flex;
    align-items: center;
}

.mudanca article p {
    font-family: var(--corpo_texto), monospace;
    color: var(--preto);
    font-size: 25px;
    text-align: right;
    line-height: 1.8em;
    margin-left: 100px;
}

.mudanca figure {
    width: 50%;
}

.mudanca figure img {
    width: 100%;
}

.faculdade {
    width: 100%;
    display: flex;
}

.faculdade figure {
    width: 50%;
    background-color: var(--rosa);
    display: flex;
    justify-content: center;
}

.faculdade figure img {
    width: 45%;
    background-color: var(--rosa);
    margin: 80px;
}

.faculdade article {
    width: 60%;
    display: flex;
    align-items: center;
    background: var(--rosa);
}

.faculdade article p {
    font-family: var(--corpo_texto), monospace;
    color: var(--cor_fundo);
    background: none;
    font-size: 25px;
    text-align: left;
    margin-right: 150px;
    line-height: 1.8em;
}


.atualidade {
    width: 100%;
    display: flex;
    align-items: center;
}

.atualidade p {
    margin: 150px 300px;
    font-family: var(--corpo_texto), monospace;
    color: var(--preto);
    font-size: 25px;
    text-align: center;
    line-height: 1.8em;
}

.fotografia {
    width: 100%;
    display: flex;
}

.fotografia article {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--rosa);
}

.fotografia article h2 {
    font-family: var(--titulo), sans-serif;
    font-size: 45px;
    font-weight: 900;
    color: var(--cor_fundo);
    background: none;
    margin-left: 70px;
    margin-bottom: 30px;
}

.fotografia article p {
    font-family: var(--corpo_texto), monospace;
    color: var(--preto);
    font-size: 25px;
    background: none;
    margin-left: 120px;
    margin-bottom: 30px;
    line-height: 1.8em;
}

.fotografia article a {
    background: none;
    font-family: var(--corpo_texto), monospace;
    color: var(--cor_fundo);
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 120px;
}

.fotografia article a:hover {
    text-decoration: none;
    background: var(--preto);
    color: var(--rosa);
    width: 200px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.fotografia figure {
    width: 50%;
    background-color: var(--rosa);
}

.fotografia figure img {
    width: 100%;
    background-color: var(--rosa);
}

.redes_sociais {
    width: 100%;
    display: flex;
}

.redes_sociais .youtube {
    width: 50%;
    margin: 100px;
}

.redes_sociais .youtube h2 {
    font-family: var(--titulo), sans-serif;
    font-size: 45px;
    font-weight: 900;
    color: var(--rosa);
    margin-bottom: 20px;
}

.redes_sociais .youtube p {
    font-family: var(--corpo_texto), monospace;
    color: var(--preto);
    font-size: 25px;
    margin-left: 45px;
    margin-bottom: 20px;
    line-height: 1.8em;
}

.redes_sociais .youtube a {
    margin-left: 45px;
    color: var(--rosa);
    font-family: var(--corpo_texto), monospace;
    font-weight: bold;
    font-size: 23px;

}

.redes_sociais .youtube a:hover {
    text-decoration: none;
    color: var(--preto);
}

.redes_sociais .tiktok {
    width: 50%;
    margin: 100px;
}

.redes_sociais .tiktok h2 {
    font-family: var(--titulo), sans-serif;
    font-size: 45px;
    font-weight: 900;
    color: var(--rosa);
    margin-bottom: 20px;
}

.redes_sociais .tiktok p {
    font-family: var(--corpo_texto), monospace;
    color: var(--preto);
    font-size: 25px;
    margin-left: 45px;
    margin-bottom: 20px;
    line-height: 1.8em;
}

.redes_sociais .tiktok a {
    margin-left: 45px;
    color: var(--rosa);
    font-family: var(--corpo_texto), monospace;
    font-weight: bold;
    font-size: 23px;
}

.redes_sociais .tiktok a:hover {
    text-decoration: none;
    color: var(--preto);
}

nav {
    border-top: 2px solid var(--rosa); ;
}

/* celular */

@media (max-width: 767px) {

    .texto {
        flex-direction: column;
        margin: 60px 40px;
    }

    .texto .titulo {
        width: 100%;
        margin-bottom: 30px;
    }

    .texto .titulo h1 {
        font-size: 45px;
    }

    .texto .subtitulo {
        width: 100%;
    }

    .texto .subtitulo p {
        font-size: 20px;
    }

    .criaca {
        flex-direction: column;
        width: 100%;
    }

    .criaca article {
        width: 100%;
        align-items: center;
    }

    .criaca article p {
        font-size: 20px;
        text-align: center;
        margin: 20px;
    }

    .criaca figure {
        width: 100%;
    }

    .adolescente {
        width: 100%;
        flex-direction: column;
    }

    .adolescente figure {
        width: 100%;
    }

    .adolescente article {
        width: 100%;
    }

    .adolescente article p {
        text-align: center;
        margin: 30px;
        font-size: 20px;
    }

    .mudanca {
        flex-direction: column;
    }

    .mudanca article {
        width: 100%;
    }

    .mudanca article p {
        font-size: 20px;
        text-align: center;
        margin: 30px;
    }

    .mudanca figure {
        width: 100%;
    }

    .faculdade {
        flex-direction: column;
    }

    .faculdade figure {
        width: 100%;
    }

    .faculdade article {
        width: 100%;
    }

    .faculdade article p {
        font-size: 20px;
        text-align: center;
        margin: 30px;
    }

    .atualidade p {
        margin: 50px;
        font-size: 20px;
    }

    .fotografia {
        flex-direction: column;
    }

    .fotografia article {
        width: 100%;
    }

    .fotografia article h2 {
        font-size: 35px;
        margin: 20px;
    }

    .fotografia article p {
        font-size: 20px;
        margin-left: 60px;
        margin-right: 20px;
    }

    .fotografia article a {
        margin-left: 60px;
        font-size: 18px;
    }

    .fotografia figure {
        width: 100%;
    }

    .redes_sociais {
        width: 100%;
        flex-direction: column;
    }

    .redes_sociais .youtube {
        width: 100%;
        margin: 0;
    }

    .redes_sociais .youtube h2 {
        font-size: 35px;
        margin: 30px;
    }

    .redes_sociais .youtube p {
        font-size: 20px;
        margin-left: 60px;
        margin-right: 20px;
    }

    .redes_sociais .youtube a {
        font-size: 18px;
        margin-left: 60px;
    }

    .redes_sociais .tiktok {
        width: 100%;
        margin: 0;
    }

    .redes_sociais .tiktok h2 {
        font-size: 35px;
        margin: 20px;
    }

    .redes_sociais .tiktok p {
        font-size: 20px;
        margin-left: 60px;
        margin-right: 20px;
    }

    .redes_sociais .tiktok a {
        font-size: 18px;
        margin-left: 60px;
    }


}

