.image_container_beelive {
    position: relative;
}

.image_container_beelive img {
    width: 100%;
    filter: brightness(0.25) opacity(0.9);
}

.imagem_texto_beelive {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: var(--rosa);
    font-family: var(--titulo), sans-serif;
    background: none;
    font-size: 55px;
    font-weight: 900;
}

.texto_imagem_beelive {
    display: flex;
}

.texto_imagem_beelive .fotos {
    width: 50%;
}

.fotos {
    display: flex;
    align-items: center;
    margin: 30px;
}

.fotos img {
    width: 100%;
}

.texto_imagem_beelive article {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto_imagem_beelive article p {
    color: var(--preto);
    font-family: var(--corpo_texto), monospace;
    text-align: justify;
    width: 500px;
    font-size: 23px;
    line-height: 1.6em;
}

.texto_centro_beelive {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--preto);
    width: 100%;
    height: 400px;
}
.texto_centro_beelive p {
    color: var(--cor_fundo);
    font-family: var(--corpo_texto), monospace;
    text-align: center;
    background: none;
    font-size: 25px;
    line-height: 1.6em;
    width: 700px;
}

.texto_centro_beelive a {
    background-color: var(--preto);
    font-family: var(--corpo_texto), monospace;
    text-align: center;
    color: var(--cor_fundo);
    font-size: 20px;
    margin-top: 30px;
}

.texto_centro_beelive a:hover {
    text-decoration: none;
    color: var(--preto);
    background-color: var(--rosa);
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.certificado_beelive h1 {
    color: var(--rosa);
    font-family: var(--titulo), sans-serif;
    font-size: 40px;
    font-weight: 900;
    margin: 60px;
    text-align: left;
}

.certificado_beelive {
    text-align: center;
    margin: 30px;
}
.certificado_beelive img{
    width: 100%;
    margin-bottom: 60px;
}

.outros_trabalhos_beelive {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    background: var(--rosa);
}

h2 {
    color: var(--cor_fundo);
    font-family: var(--titulo), sans-serif;
    font-size: 35px;
    font-weight: 900;
    margin: 60px;
    background: none;
}

.outros_trabalhos_beelive ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 60px;
    background: none;

}

.outros_trabalhos_beelive ul li {
    text-align: left;
    width: 800px;
    background: none;
}

.outros_trabalhos_beelive ul li a {
    color: var(--cor_fundo);
    font-family: var(--titulo), sans-serif;
    font-size: 23px;
    font-weight: 900;
    text-decoration: none;
    line-height: 2em;
    background-color: var(--rosa);
}

.outros_trabalhos_beelive ul li a:hover {
    color: var(--preto);
    text-decoration: underline;
}

/* celular */

@media (max-width: 1023px) {
    .imagem_texto_beelive {
        width: 100%;
        font-size: 33px;
        text-align: center;
    }

    .texto_imagem_beelive {
        flex-direction: column;
    }

    .texto_imagem_beelive .fotos {
        margin: 0;
        width: 100%;
    }

    .texto_imagem_beelive img {
        width: 100%;
    }

    .texto_imagem_beelive article {
        width: 100%;
    }

    .texto_imagem_beelive article p {
        font-size: 18px;
        line-height: 1.6em;
        margin: 50px;
    }

    .texto_centro_beelive {
        width: 100%;
    }

    .texto_centro_beelive p {
        font-size: 18px;
        line-height: 1.6em;
        width: 80%;
    }

    .texto_centro_beelive a {
        font-size: 15px;
    }

    .certificado_beelive h1 {
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 30px;
        font-size: 28px;
    }

    .certificado_beelive figure{
        width: 100%;
    }

    .certificado_beelive figure img {
        width: 100% ;
    }

    .outros_trabalhos_beelive {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .outros_trabalhos_beelive h2 {
        font-size: 25px;
        margin: 40px;
    }

    .outros_trabalhos_beelive ul {
        margin: 0;
    }

    .outros_trabalhos_beelive ul li {
        width: 100%;
        line-height: 1.6em;
        text-align: center;
        margin-bottom: 10px;
    }

    .outros_trabalhos_beelive ul li a {
        font-size: 18px;
    }
}
