.image_container_robotica {
    position: relative;
}

.image_container_robotica img {
    width: 100%;
    filter: brightness(0.25) opacity(0.9);
}

.imagem_texto_robotica {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: var(--rosa);
    font-family: var(--titulo), sans-serif;
    background: none;
    font-size: 55px;
    font-weight: 900;
    width: 100%;
    display: flex;
    justify-content: center;
}

.quinze {
    width: 100%;
    display: flex;
}

.quinze article {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.quinze article h1 {
    color: var(--rosa);
    font-family: var(--titulo), sans-serif;
    font-size: 40px;
    font-weight: 900;
    text-align: right;
    margin-right: 30px;
}

.quinze article p {
    color: var(--preto);
    font-family: var(--corpo_texto), monospace;
    font-size: 23px;
    margin-top: 20px;
    line-height: 1.6em;
    text-align: right;
    margin-right: 30px;
    margin-left: 80px;
}

.quinze figure {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;
}

.quinze figure img {
    width: 75%;
}

.dezesseis .texto_imagem {
    width: 100%;
    display: flex;
    margin-bottom: 60px;
}

.dezesseis .texto_imagem figure {
    width: 50%;
    display: flex;
    justify-content: center;
}

.dezesseis .texto_imagem figure img {
    width: 100%;
}

.dezesseis .texto_imagem article {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dezesseis .texto_imagem article h1 {
    color: var(--rosa);
    font-family: var(--titulo), sans-serif;
    font-size: 40px;
    font-weight: 900;
    text-align: left;
    margin-left: 30px;
}

.dezesseis .texto_imagem article p {
    color: var(--preto);
    font-family: var(--corpo_texto), monospace;
    font-size: 23px;
    margin-top: 20px;
    line-height: 1.6em;
    text-align: left;
    margin-left: 30px;
    margin-right: 80px;
}

.dezesseis .certificado_2016 {
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--rosa);
}

.dezesseis .certificado_2016 img {
    width: 70%;
    margin: 50px;
}

.dezessete .texto_imagem article {
    width: 100%;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dezessete .texto_imagem article h1 {
    color: var(--rosa);
    font-family: var(--titulo), sans-serif;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}

.dezessete .texto_imagem article p {
    color: var(--preto);
    font-family: var(--corpo_texto), monospace;
    font-size: 23px;
    margin-top: 20px;
    line-height: 1.6em;
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
;
}

.dezessete .texto_imagem figure {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.dezessete .texto_imagem figure img {
    width: 75%;
    background: none;
}

.dezessete .certificado_2017 {
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--rosa);
}

.dezessete .certificado_2017 img {
    width: 700px;
    margin: 50px;
}

.dezoito {
    width: 100%;
    display: flex;
}

.dezoito article {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dezoito article h1 {
    color: var(--rosa);
    font-family: var(--titulo), sans-serif;
    font-size: 40px;
    font-weight: 900;
    text-align: right;
    margin-right: 30px;
}

.dezoito article p {
    color: var(--preto);
    font-family: var(--corpo_texto), monospace;
    font-size: 23px;
    margin-top: 20px;
    line-height: 1.6em;
    text-align: right;
    margin-right: 30px;
    margin-left: 80px;
}

.dezoito figure {
    width: 50%;
    display: flex;
    justify-content: center;
}

.dezoito figure img {
    width: 100%;
}

.medalhas {
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--preto);
}

.medalhas img {
    width: 700px;
    margin: 50px;
}

.outros_trabalhos_robotica {
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--rosa);
}

.outros_trabalhos_robotica h2 {
    color: var(--cor_fundo);
    font-family: var(--titulo), sans-serif;
    font-size: 35px;
    font-weight: 900;
    margin: 60px;
    background: none;
}

.outros_trabalhos_robotica ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 60px;
    background: none;

}

.outros_trabalhos_robotica ul li {
    text-align: left;
    width: 800px;
    background: none;
}

.outros_trabalhos_robotica ul li a {
    color: var(--cor_fundo);
    font-family: var(--titulo), sans-serif;
    font-size: 23px;
    font-weight: 900;
    text-decoration: none;
    line-height: 2em;
    background-color: var(--rosa);
}

.outros_trabalhos_robotica ul li a:hover {
    color: var(--preto);
    text-decoration: underline;
}

/* celular */

@media (max-width: 1023px) {
    .imagem_texto_robotica {
        font-size: 33px;
        width: 100%;
        text-align: center;
    }

    .quinze {
        flex-direction: column;
    }

    .quinze article {
        width: 100%;
    }

    .quinze article h1 {
        font-size: 33px;
        text-align: center;
        margin-top: 50px;
    }

    .quinze article p {
        font-size: 18px;
        text-align: justify;
        margin: 0;
        padding: 40px;
    }

    .quinze figure {
        width: 100%;
    }

    .quinze figure img {
        width: 80%;
    }

    .dezesseis {
        width: 100%;
    }

    .dezesseis .texto_imagem {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .dezesseis .texto_imagem figure {
        width: 100%;
    }

    .dezesseis .texto_imagem figure img {
        width: 100%;
    }

    .dezesseis .texto_imagem article {
        width: 80%;
        display: flex;
    }

    .dezesseis .texto_imagem article h1 {
        font-size: 33px;
        text-align: center;
        margin: 0;
    }

    .dezesseis .texto_imagem article p {
        font-size: 18px;
        margin: 0;
        text-align: justify;
        width: 100%;

    }

    .dezesseis .certificado_2016 {
        width: 100%;
        margin-top: 100px;
    }

    .dezesseis .certificado_2016 img {
        width: 80%;
    }

    .dezessete {
        width: 100%;
    }

    .dezessete .texto_imagem {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .dezessete .texto_imagem article {
        margin-top: 40px;
        width: 100%;
    }

    .dezessete .texto_imagem article h1 {
        font-size: 33px;
        text-align: center;
    }

    .dezessete .texto_imagem article p {
        font-size: 18px;
        margin: 0;
        text-align: justify;
        width: 80%;
        padding-top: 30px;
    }

    .dezessete .texto_imagem figure {
        width: 100%;
        margin-bottom: 100px;
    }

    .dezessete .texto_imagem figure img {
        width: 100%;
    }

    .dezessete .certificado_2017 {
        width: 100%;
    }

    .dezessete .certificado_2017 img {
        width: 80%;
    }

    .dezoito {
        width: 100%;
        flex-direction: column;
    }

    .dezoito article {
        width: 100%;
    }

    .dezoito article h1 {
        font-size: 33px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .dezoito article p {
        font-size: 18px;
        text-align: center;
        margin: 0;
        padding-left: 40px;
        padding-right: 40px;
    }

    .dezoito figure {
        width: 100%;
        margin-top: 50px;
    }

    .dezoito figure img {
        width: 100%;
    }

    .medalhas {
        width: 100%;
    }

    .medalhas img {
        width: 80%;
    }

    .outros_trabalhos_robotica {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .outros_trabalhos_robotica h2 {
        font-size: 25px;
        margin: 40px;
    }

    .outros_trabalhos_robotica ul {
        margin: 0;
    }

    .outros_trabalhos_robotica ul li {
        width: 100%;
        line-height: 1.6em;
        text-align: center;
        margin-bottom: 10px;
    }

    .outros_trabalhos_robotica ul li a {
        font-size: 18px;
    }
}
