.container {
    display: flex;
}

.container article {
    width: 50%;
}

.container figure {
    width: 50%;
    height: 100%;
}

.container figure img {
    width: 100%;
}

.container article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    font-family: var(--titulo), sans-serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 1.6em;
}

.container article ul li {
    list-style: none;
    margin-right: 20px;
    margin-top: 30px;
}

.container article ul li a {
    text-decoration: none;
    color: var(--preto);
}

.container article ul li a:hover {
    text-decoration: underline;
    color: var(--rosa);
}

/* celular */

@media (max-width: 1023px) {

    .container figure {
        width: 0;
    }

    .container figure img {
        display: none;
    }

    .container article {
        width: 100%;
    }

    .container article {
        font-size: 30px;
        margin-left: 30px;
        margin-bottom: 30px;
    }
}
