.image_container {
    position: relative;
}

.image_container img {
    width: 100%;
    filter: brightness(0.50) opacity(0.9);
}

.imagem_texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: var(--rosa);
    font-family: var(--titulo), sans-serif;
    background: none;
    font-size: 55px;
    font-weight: 900;
}

.container {
    display: flex;
}

.container figure {
    width: 50%;
}

.container .all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acalento1 img {
    width: 250px;
    translate: -90px 90px;
}

.acalento2 img {
    width: 350px;
}

.acalento3 img {
    width: 200px;
    translate: 280px -70px;

}
.container article {
    width: 50%;
    display: flex;
    align-items: center;
}

.container article p {
    color: var(--preto);
    font-family: var(--corpo_texto), monospace;
    font-size: 23px;
    text-align: justify;
    line-height: 1.8em;
    margin-top: 140px;
    margin-right: 60px;
    margin-left: 60px ;
}

.texto_centro {
    display: flex;
    align-items: center;
    background: var(--rosa);
    border-radius: 30px;
    height: 500px;
    width: 100%;
}

article p {
    font-family: var(--corpo_texto), monospace;
    font-size: 23px;
    text-align: center;
    margin: 200px;
    line-height: 1.8em;
    background: none;
}

.bottom {
    display: flex;
    margin: 200px;
    justify-content: center;
}

.acalento4 img {
    width: 300px;
    translate: 150px 270px;
}

.acalento5 img {
    width: 400px;
}

.acalento6 img {
    width: 350px;
    translate: -150px -100px;
}