.image_container {
    position: relative;
}

.image_container img {
    width: 100%;
    filter: brightness(0.50) opacity(0.9);
}

.imagem_texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: var(--rosa);
    font-family: var(--titulo), sans-serif;
    background: none;
    font-size: 55px;
    font-weight: 900;
}

.container {
    display: flex;
}

.container figure {
    width: 50%;
}

.container .all {
    display: flex;
    align-items: center;
}

.container figure img {
    width: 100%;
}
.container article {
    width: 50%;
    display: flex;
    align-items: center;
}

.container article p {
    color: var(--preto);
    font-family: var(--corpo_texto), monospace;
    font-size: 23px;
    text-align: justify;
    line-height: 1.8em;
    margin-top: 140px;
    margin-right: 60px;
    margin-left: 60px ;
}

.texto_centro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--rosa);
    border-radius: 30px;
    height: 500px;
    width: 100%;
}

.texto_centro a {
    color: var(--cor_fundo);
    background-color: var(--rosa);
    font-family: var(--corpo_texto), monospace;
    margin-top: 20px;
    font-size: 20px;
}

.texto_centro a:hover {
    text-decoration: none;
    color: var(--rosa);
    background-color: var(--preto);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

article p {
    font-family: var(--corpo_texto), monospace;
    font-size: 23px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px ;
    line-height: 1.8em;
    background: none;
}

.bottom {
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

.bottom img {
    width: 2000px;
}

/* celular */

@media (max-width: 767px) {

    .image_container {
        margin-top: 20px;
    }

    .imagem_texto {
        width: 100%;
        font-size: 30px;
        text-align: center;
    }

    .container {
        flex-direction: column;
    }

    .container figure {
        width: 100%;
    }

    .container figure img {
        width: 100%;
    }

    .container article {
        width: 100%;
    }

    .container article p {
        margin-top: 20px;
        margin-bottom: 40px;
        font-size: 18px;

        line-height: 1.6em;
    }

    .texto_centro {
        height: 700px;
    }

    .texto_centro p {
        font-size: 18px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .texto_centro a {
        font-size: 15px;
        margin-top: 10px;
        font-weight: bold;
    }

    .bottom {
        margin: 0;
        padding-top: 30px;
        width: 100%;
    }

    .bottom img{
        width: 750px;
    }
}
